<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block header %}
        {% block title %}
            <title>Victory</title>
        {% endblock %}

        {% block meta %}
            <meta charset="UTF-8">
            <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        {% endblock %}

        {% block style %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset("/victory-cms/core/css/backend.css") }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="victory__main-menu">
        {% include [menuHook, "victory.core::layout.partials.menu"] %}
    </div>
    <div class="victory__content-wrapper">
        {% block content %}

        {% endblock %}
    </div>

    {% include [headerHook, "victory.core::layout.partials.header"] %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset("/victory-cms/core/js/backend.js") }}"></script>
{% endblock %}
</body>
</html>
