body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  background: #d0e2ea;
}

h1 {

}

a {
  text-decoration: none;
}



.victory__content-wrapper {
  margin-top: 60px;
  margin-left: 5px;
  background-color: #fff;
  padding: 20px;
}