body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  background: #d0e2ea;
}

h1 {

}

a {
  text-decoration: none;
}



.victory__content-wrapper {
  float: left;
  padding-top: 60px;
}